
@{
    ViewData["Title"] = "Process Cards";

}
@{ 
    List<WebDashboardv2.Model.ProcessCard> ProcessCards = (List<WebDashboardv2.Model.ProcessCard>)ViewData["ProcessCards"];
    string ProcessCardClass = (string)ViewData["CardClass"];
}

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>@ProcessCardClass Process Cards</h5>

                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            <li>
                                                <a href="#">Config option 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Config option 2</a>
                                            </li>
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                           placeholder="Search Process Cards">

                                    <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Department</th>
                                                <th>PDF</th>
                                                <th data-hide="all"></th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
@foreach (var card in ProcessCards)
{
                                            <tr class="gradeX">
                                                <td>@card.ProductName.Substring(0, card.ProductName.IndexOf("."))</td>
                                                <td>@card.ProcessCardType</td>
                                                <td ><a ><i class="fa fa-file-pdf-o"/></a></td>
                                                <td>
                                                <div>
                                                    <div class="col-lg-9">
                                                        <div class="ibox float-e-margins">
                                                            <div class="ibox-title">
                                                                <h5>Data Values</h5>
                                                            </div>
                                                            <div class="ibox-content">

                                                                <table class="table table-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Key</th>
                                                                            <th>Value</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        
                                                                            @foreach (var dp in card.DataPoints)
                                                                            {
                                                                                <tr>
                                                                                    <td>@dp.Key</td>
                                                                                    <td><input name="@dp.Key" type="text" value="@dp.Value" readonly="readonly" /></td>
                                                                                    <td><input name="@dp.Key" type="button" value="Update" hidden ="hidden"/></td>
                                                                                </tr>
                                                                            }
                                                                       

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                    </div></td>
                                            </tr>
}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="5">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                








    
@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/footable/dist/footable.all.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.footable').footable();
            $('.footable2').footable();


        });
    </script>

                <script type="text/javascript">
                    $(document).ready(function () {

                        // Add slimscroll to element
                        $('.scroll_content').slimscroll({
                            height: '25px'
                        })

                    });

                    $('#filterBox').keyup(function () {
                        var value = $('#filterBox').val().toUpperCase();
                        var notfound = [];
                       // $("#theList div[id!=" + value + "]").css("color", "#f00");
                        $("#theList").children('div').each(function () {
                            
                            if (this.id.indexOf(value) == -1) {
                                $(this).hide();
                            }
                            else {
                                $(this).show();
                            }

                        })
                    });
                </script>
            }


