@using WebDashboardv2.Model;
@inject WebDashboardv2.Model.IUserAccessModel UserAccess;

<style>
    .img {
        height: auto;
        width: auto;
        max-height: 48px;
        max-width: 48px;
    }

    .details {
        font-size: 10px;
        padding-left: 25px;
    }
</style>
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img" src="~/images/AAM FULL LOGO JPG.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@UserAccess.Name</strong>
                            </span> <span class="text-muted text-xs block">@UserAccess.Title<b class="caret"></b></span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    NEMF
                </div>
            </li>

            <li class="@Html.IsSelected(controller: "ProcessCards")">
                <a asp-controller="ProcessCards" asp-action="Index">
                    <div>
                        <i class="fa fa-files-o"></i>
                        <span class="nav-label">Process Cards</span>
                        <span class="fa arrow"></span>
                    </div>
                    <div class="details">
                        View or Manage Process Cards
                    </div>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "ProcessCards", cssClass: "in")">
                    <li><a asp-controller="ProcessCards" asp-action="Index" asp-route-id="0">Core Make</a></li>
                    <li><a asp-controller="ProcessCards" asp-action="Index" asp-route-id="4">Core Assembly</a></li>
                    <li>
                        <a asp-controller="ProcessCards" , asp-action="Molding">
                            <span class="nav-label">Molding</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-third-level">
                            <li><a asp-controller="ProcessCards" asp-action="Index" asp-route-id="5">Osborn Molding</a></li>
                            <li><a asp-controller="ProcessCards" asp-action="Index" asp-route-id="6">Sinto Molding</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="ProcessCards" , asp-action="Index">
                            <span class="nav-label">Melt</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-third-level">
                            <li><a asp-controller="ProcessCards" asp-action="Index" asp-route-id="7">Pressure Pour 1</a></li>
                            <li><a asp-controller="ProcessCards" asp-action="Index" asp-route-id="8">Pressure Pour 2</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="ProcessCards" , asp-action="Index">
                            <span class="nav-label">Cleaning</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-third-level">
                            <li><a asp-controller="ProcessCards" asp-action="Index" asp-route-id="9">Line 1 Inspect</a></li>
                            <li><a asp-controller="ProcessCards" asp-action="Index" asp-route-id="10">Line 2 Inspect</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="ProcessCards" asp-action="Index" asp-route-id="11">Finishing</a>
                    </li>
                    @if (UserAccess.CanAddProcessCards)
                    {
                        <li><a asp-controller="ProcessCards" asp-action="Add">Add New Process Card</a></li>
                    }
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "QualityAlerts")">
                <a asp-controller="QualityAlerts" asp-action="Index">
                    <div>
                        <i class="fa fa-exclamation-circle"></i>
                        <span class="nav-label">Quality Alerts</span>
                        <span class="fa arrow"></span>
                    </div>
                    <div class="details">
                        Create, View, or Manage Quality Alert Records
                    </div>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "QualityAlerts", cssClass: "in")">
                    <li><a asp-controller="QualityAlerts" asp-action="CreateNew">Create New Alert</a></li>
                    <li><a asp-controller="QualityAlerts" asp-action="ViewCurrent">Work With Quality Alerts</a></li>
                    <li><a asp-controller="QualityAlerts" asp-action="ViewAll">Quality Alert Records</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "QualityConcerns")">
                <a asp-controller="QualityConcerns" , asp-action="Index">
                    <div>
                        <i class="fa fa-question-circle"></i>
                        <span class="nav-label">Quality Concerns</span>
                        <span class="fa arrow"></span>
                    </div>
                    <div class="details">
                        Create, View, or Manage Quality Concern Records
                    </div>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "QualityConcerns", cssClass: "in")">
                    <li><a asp-controller="QualityConcerns" asp-action="CreateNew">Add New Concern</a></li>
                    <li><a asp-controller="QualityConcerns" asp-action="ViewOpen">Work With Open Concerns</a></li>
                    <li><a asp-controller="QualityConcerns" asp-action="ViewAll">Quality Concern Records</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "SampleManager")">
                <a asp-controller="SampleManager" , asp-action="Index">
                    <div>
                        <i class="fa fa-gears"></i>
                        <span class="nav-label">Sample Manager</span>
                        <span class="fa arrow"></span>
                    </div>
                    <div class="details">
                        Create, View, Or Manaage Sample Travellers
                    </div>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "SampleManager", cssClass: "in")">
                    <li><a asp-controller="SampleManager" asp-action="CreateNew">Create New Traveller</a></li>
                    <li><a asp-controller="SampleManager" asp-action="OpenTraveller" asp-route-id="0">Work on Current Traveller</a></li>
                    <li><a asp-controller="SampleManager" asp-action="ViewAll">Sample Records</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "MaterialCertification")">
                <a asp-controller="MaterialCertification" , asp-action="Index">
                    <div>
                        <i class="fa fa-info-circle"></i>
                        <span class="nav-label">Material Certification</span>
                        <span class="fa arrow"></span>
                    </div>
                    <div class="details">
                        Create, View, and Manange Product Material Certification Records
                    </div>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "MaterialCertification", cssClass: "in")">
                    <li><a asp-controller="MaterialCertification" asp-action="CreateNew">Generate Certification</a></li>
                    <li><a asp-controller="MaterialCertification" asp-action="AddResults">Add Labratory Test Results</a></li>
                    <li><a asp-controller="MaterialCertification" asp-action="ViewAll">Certification Records</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "BrinellRecords")">
                <a asp-controller="BrinellRecords" , asp-action="Index">
                    <div>
                        <i class="fa fa-info-circle"></i>
                        <span class="nav-label">Brinell Records</span>
                        <span class="fa arrow"></span>
                    </div>
                    <div class="details">
                        View and Manange Brinell Records
                    </div>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "BrinellRecords", cssClass: "in")">
                    <li><a asp-controller="BrinellRecords" asp-action="ViewAll">View HBW Records</a></li>
                    <li><a asp-controller="BrinellRecords" asp-action="FixRecordErrors">Fix HBW Record Errors</a></li>
                    <li><a asp-controller="BrinellRecords" asp-action="ViewScopeChecks">View Scope Checks</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "LayeredProcessAuditing")">
                <a asp-controller="LayeredProcessAuditing" , asp-action="Index">
                    <div>
                        <i class="fa fa-users"></i>
                        <span class="nav-label">LPA Manager</span>
                        <span class="fa arrow"></span>
                    </div>
                    <div class="details">
                        Create, View, Or Manage Layered Process Audit Documentation
                    </div>
                </a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "LayeredProcessAuditing", cssClass: "in")">
                    <li><a asp-controller="LayeredProcessAuditing" asp-action="CreateNew">Generate LPA Package</a></li>
                    <li><a asp-controller="LayeredProcessAuditing" asp-action="AddNewQuestion">Add New Audit Question</a></li>
                    <li><a asp-controller="LayeredProcessAuditing" asp-action="ViewAll">LPA Records</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>