@{
    ViewData["Title"] = "All Quality Alerts";
}

@{
    WebDashboardv2.Model.IProductsModel Products = (WebDashboardv2.Model.IProductsModel)ViewData["Products"];
    WebDashboardv2.Model.IQualityAlertsModel Alerts = (WebDashboardv2.Model.IQualityAlertsModel)ViewData["Alerts"];
}
<head>
    <style>
        .update-label {
            display: none;
        }
    </style>
</head>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox no-margins">
            <div class="ibox-title">
                <h5>Quality Alerts</h5>
            </div>
            <div class="ibox-content">
                <input type="text" class="form-control input-sm m-b-xs" id="filter"
                       placeholder="Search Alerts">

                <table class="footable table table-stripped"  data-filter-min="0" data-page-size="25" data-filter=#filter>
                    <thead>
                        <tr id="alertsTableHeaders">
                            <th width="125">Product</th>
                            <th width="125">Last 90 Days</th>
                            <th width="50">All Time</th>
                            <th data-hide="all"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Products.Products)
                        {
                            var alerts = Alerts.ProductAlerts.Where(x => x.Product == product.Product);
                            <tr class="gradeX" id="@product.Product-main">
                                <td>@product.Product</td>

                                <td>
                                    @alerts.Where(x => x.AlertDate >= DateTime.Now.AddDays(-90)).Count()
                                    <a asp-controller="QualityAlerts" asp-action="Partial90d" asp-route-product="@product.Product" id="@product.Product-90d" class="btn show90d btn-primary btn-xs">
                                        Show
                                        <i  class="fa fa-arrow-circle-down"></i>
                                    </a>
                                </td>
                                <td>
                                    @alerts.Count()
                                    <a asp-controller="QualityAlerts" asp-action="PartialAllTime" asp-route-product="@product.Product"
                                       id="@product.Product-allTime" class="btn btn-primary btn-xs showAllTime">
                                        Show
                                        <i class="fa fa-arrow-circle-down"></i>
                                    </a>
                                </td>
                                <td >
                                    <div id="@product.Product-details"></div>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/footable/css/footable.core.min.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/footable/dist/footable.all.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.footable').footable();
            var show90d = false;
            var showAllTime = false;

            $('.show90d').click(function (evt) {
                evt.preventDefault();
                evt.stopPropagation();
                var product = evt.currentTarget.id.replace('-90d', '');
                url = $(this).attr('href');
                $('#' + product + '-details').load(url, function () {
                    $('#'+product+'-main').trigger('footable_toggle_row');
                });
            });
            $('.showAllTime').click(function (evt) {
                evt.preventDefault();
                evt.stopPropagation();
                var product = evt.currentTarget.id.replace('-allTime', '');
                url = $(this).attr('href');
                $('#' + product + '-details').load(url, function () {
                    $('#' + product + '-main').trigger('footable_toggle_row');
                });
            });
        });
    </script>
}